# Resume Parser

In [1]:
import re
import glob
import PyPDF2 as pdf
import pandas as pd
from docx import Document

In [2]:
path = r"E:\Shivansh\iNeuron\Jupyter\Data\resume\same-resume-year-wise-master\*.*"
file_list = glob.glob(path)

In [3]:
name=[]
email=[]
linked =[]
git=[]
skill=[]

In [4]:
def extracter(file,txt):
    match=re.split("[\\\]",file)[-1]
    name = match.replace(re.findall("\.[a-z]{2,4}$",match)[0],"")
    
    email = re.findall('[a-zA-Z0-9_\-\.]+@[a-z]+[\.][a-z]{2,3}',txt)
    if email == []:
        email = "NaN"
    else:
        email = email[0]
    
    linked = re.findall('linkedin.com/[a-zA-Z0-9\\-\.]+\s',txt)
    if linked == []:
        linked = "NaN"
    else:
        linked = linked[0]
        
    git = re.findall('github.com/[a-zA-Z0-9\\-\.]+\s',txt)
    if git == []:
        git="NaN"
    else:
        git = git[0]
    return name,email,linked,git

In [5]:
def doc_text(i):
    doc = Document(i)
    s=""
    for i in doc.paragraphs:
        if(len(i.text)>1):
            s +=i.text
    return s

In [6]:
for i in file_list:
    if i.endswith(".pdf"):
        file = pdf.PdfFileReader(i)
        data = file.getPage(0).extractText()
        
    elif i.endswith(".docx"):
        data = doc_text(i)
        
    n,e,l,g = extracter(i,data)
    name.append(n)
    email.append(e)
    linked.append(l)
    git.append(g)

PdfReadWarning: Xref table not zero-indexed. ID numbers for objects will be corrected. [pdf.py:1736]

In [7]:
data2 = {"email_id" : email, "linked_id": linked, "github_id": git}

In [8]:
df = pd.DataFrame(data2,index=name)

In [9]:
df

,email_id,linked_id,github_id
12+ (2),prince_harry@gmail.com,linkedin.com/harry897,github.com/harry89
12+,NaN,NaN,NaN
15+ (1),NaN,NaN,NaN
15+,NaN,NaN,NaN
20,NaN,NaN,NaN
3+ (2),carreer123@gmail.com,linkedin.com/career,github.com/career123
3+,abcdefg@yahoo.in,linkedin.com/abcd123456,github.com/abcd
3+,NaN,NaN,NaN
4,NaN,NaN,NaN
4+,rururur@gmail.com,linkedin.com/rururur,github.com/ruurr2135
5+,NaN,NaN,NaN
5+,NaN,NaN,NaN
5,NaN,NaN,NaN
6+,NaN,NaN,NaN
7+,NaN,NaN,NaN
8+,rambabu@outlook.com,linkedin.com/ramba123,github.com/ramba345
8+,NaN,NaN,NaN
freasher,NaN,NaN,NaN
freasher 1,NaN,NaN,NaN
mteh fresher,NaN,NaN,NaN